/**** GENERELLE TING ******/



section {
    max-width: 1200px;
    margin: auto;
}

body {

    background-color: #F3ECE6;
    margin: 0px;

}


img {
    width: 100%;
}



h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: black;
    font-size: 3rem;
    margin-bottom: 0px;
    margin-top: 3em;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    padding: 2rem;

}

h2 {
    font-family: 'Dancing Script', cursive;
    color: #9E593A;
    font-size: 2rem;
    margin-top: 5rem;
    margin: 2rem;
    margin-bottom: 0;
}

h3 {
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 1rem;
    margin: 2rem;
    margin-bottom: 0;
}

p {
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 1rem;
    line-height: 2;
}

.hbg {
    background-image: url(pictures/paint1brownmini.png);
    position: sticky;
    width: 220px;
    height: 135px;
    margin: auto;


}


a {
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 1rem;
    line-height: 2;
    text-decoration: none;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;

}

.column {
    flex-basis: 200px;
    flex-grow: 1;
    margin: 2rem;
    margin-top: 0;
}

/*.column_billede {
    flex-basis: 200px;
    flex-grow: 1;
    color: white;
    position: relative;
    text-align: center;
    margin: 2rem;
}*/


/****** GENERELLE TING SLUT ******/

/**** SPLASHBILLEDE START ****/

#splash {
    width: 100%;
    height: 100vh;
    background-image: url(pictures/splashimage4.jpg);
    background-position: 50%;
    max-width: none;
}



/*#splash {
    width: 100%;
    height: 100vh;
    background-position: 50%;
    max-width: none;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Dancing Script', cursive;
    color: black;
    font-size: 3rem;


}*/



/***** SPLASHBILLEDE SLUT *****/

/**** TILBAGEKNAPPEN *****/

.tilbage {
    position: fixed;
    top: 5vw;
    left: 3vw;
    max-width: 5rem;
    overflow: visible;
}

/***** TILBAGE KNAPPEN SLUT *******/


/**** MENU *****/

.hidden {
    transform: scale(0);
}

.siteheader {
    display: none;
}

header {
    position: fixed;
    width: 100%;
    top: 0;

}

nav a {
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 14px 17px;
    font-size: 17px;
    text-decoration-line: none;
}



#menuknap {
    display: inline-block;
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top right;
}

.mobilenav {
    width: 100%;
    background-color: #c9c9c9;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}



@media only screen and (min-width: 600px) {
    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }



}


/***** MENU SLUT *****/



/********************CONTENT START***********************/


/******* PORTFOLIO START ********/

#portfolio {
    margin-top: 5rem;
}

#portfolio .sectionwrapper {
    justify-content: center;
}

.column_portfolio {
    flex-basis: 200px;
    flex-grow: 1;
    max-width: 350px;
    margin: 1rem;
}

#portfolio img:hover {
    transition: .5s ease;
    transform: scale(1.07);
}






/****** PORTFOLIO SLUT********/





/****** OM MIG START *******/


#om .column img {
    max-width: 400px;
    margin-top: 1.5vw;

}

#om {
    border-bottom: 1px;
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-bottom: 20px;
    border-color: gray;

}




/****** OM MIG SLUT *******/





/******* WEBDESIGN START ********/



.billede_webdesign {
    position: relative;
    text-align: center;
    color: black;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.centered a:link {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    color: black;
    background-color: white;

}


.centered a:hover {
    color: black;
}


#webdesign {
    border-bottom: 1px;
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-bottom: 20px;
    border-color: gray;
    margin-bottom: 5vw;
}

.billede_webdesign {
    filter: opacity(80%);
}

.billede_webdesign:hover {
    transition: 0.5s ease-out;
    filter: opacity(100%);
}

/***** WEBDESIGN SLUT ******/







/******* UX START ********/

.ux_prototype {
    flex-basis: 300px;
    align-content: center;
    text-align: center;
    color: black;
    position: relative;
    opacity: 0.8;
}

.ux_middle {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.ux_prototype:hover .ux_middle {
    transition: 0.3s ease-out;
    opacity: 1;
}

.ux_prototype:hover {
    transition: 0.5s ease-out;
    opacity: 1;
    transform: scale(1.025);
}


#ux img {
    width: 80%;
}



#ux .sectionwrapper {
    justify-content: center;
}


#ux {
    border-bottom: 1px;
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-bottom: 20px;
    border-color: gray;
    margin-bottom: 5rem;
}












/******* UX SLUT *******/
